<div id="last-readings" class="columns is-multiline">
  <div class="column is-3">
    <div class="box wind-box has-text-white">
      <div class="field">
        <h5 class="title is-3 has-text-white">{{name}}</h5>
      </div>
      <div class="field">
        <p class="has-text-white-bis is-size-6">Latitude: {{latitude}}</p>
      </div>
      <div class="field">
        <p class="has-text-white-bis is-size-6">Longitude: {{longitude}}</p>
      </div>
    </div>
  </div>
  <div class="column is-2">
    <div class="weather-box">
      <div class="field">
        <h5 class="title is-5 has-text-white">Weather</h5>
      </div>
      {{#if lastReading}}
      <div class="field">
        <div class="weather-icon">
          {{weatherIcon lastReading.lastReading.code}}
        </div>
      </div>
      <div class="field">
        <label class="label has-text-white">{{lastReading.weatherDescription}}</label>
      </div>
      {{else}}
      <p class="has-text-white">No Data</p>
      {{/if}}
    </div>
  </div>
  <div class="column is-2">
    <div class="temp-box">
      <div class="field">
        <h5 class="title is-5 has-text-white">Temperature</h5>
      </div>
      <div class="field">
        {{#if lastReading}}
        <div class="weather-icon">
          {{temperatureRangeAndIcon lastReading.lastReading.temperature}}
        </div>
        <p class="has-text-white-bis is-size-6">{{lastReading.lastReading.temperature}}°C</p>
        <p class="has-text-white-bis is-size-6">{{lastReading.temperatureFahrenheit}}°F</p>
        <p class="has-text-white-bis is-size-6">Max: {{lastReading.maxTemperature}}</p>
        <p class="has-text-white-bis is-size-6">Min: {{lastReading.minTemperature}}</p>
        <div class="temperature-range">
          {{trendIcon lastReading.temperatureTrend}}
          <p class="has-text-white-bis is-size-6"></p>{{lastReading.temperatureTrend}}</p>
        </div>
        {{else}}
        <p class="has-text-white-bis">No Data</p>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="wind-box">
      <div class="field">
        <h5 class="title is-5 has-text-white">Wind Speed</h5>
      </div>
      <div class="field">
        {{#if lastReading}}
        <div class="weather-icon">
          {{beaufortIcon lastReading.beaufortDescription}}
        </div>
        <p class="has-text-white-bis is-size-6">{{lastReading.beaufortLevel}} Bft</p>
        <p class="has-text-white-bis is-size-6">{{lastReading.windCompassDirection}}</p>
        <p class="has-text-white-bis is-size-6">Feels Like {{lastReading.beaufortDescription}}</p>
        <p class="has-text-white-bis is-size-6">{{windChill}}</p>
        <p class="has-text-white-bis is-size-6">Max: {{lastReading.maxWindSpeed}}</p>
        <p class="has-text-white-bis is-size-6">Min: {{lastReading.minWindSpeed}}</p>
        <div class="temperature-range">
          {{trendIcon lastReading.windSpeedTrend}}
           <p class="has-text-white-bis is-size-6"></p>{{lastReading.windSpeedTrend}}</p>
        </div>
        {{else}}
        <p class="has-text-white-bis">No Data</p>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="column is-2">
    <div class="pressure-box">
      <div class="field">
        <h5 class="title is-5 has-text-white">Pressure</h5>
      </div>
      <div class="field">
        {{#if lastReading}}
        <div class="weather-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        <p class="has-text-white-bis is-size-6">{{lastReading.lastReading.pressure}} hPa</p>
        <p class="has-text-white-bis is-size-6">Max: {{lastReading.maxPressure}}</p>
        <p class="has-text-white-bis is-size-6">Min: {{lastReading.minPressure}} </p>
        <div class="temperature-range">
          {{trendIcon lastReading.pressureTrend}}
          <p class="has-text-white-bis is-size-6">{{lastReading.pressureTrend}}</p>
        </div>
        {{else}}
        <p class="has-text-white-bis">No Data</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>