<div id="last-readings" class="columns is-multiline">
  <div class="column is-12-tablet is-3-desktop">
    <div class="weather-box has-text-white">
      <div class="field has-text-centered">
        <h3 class="title is-3 has-text-white">{{name}}</h3>
      </div>
      <div class="field has-text-centered">
        <p class="label has-text-white">Latitude: {{latitude}}</p>
      </div>
      <div class="field has-text-centered">
        <p class="label has-text-white">Longitude: {{longitude}}</p>
      </div>
    </div>
  </div>
  {{#each lastReadings}}
  <div class="column is-6-tablet is-2-desktop">
    <div class="weather-box">
      <div class="field has-text-centered">
        <h3 class="title is-3 has-text-white">Weather</h3>
      </div>
      {{#if lastReading}}
      <div class="field has-text-centered">
        <div class="weather-icon">
          {{weatherIcon lastReading.code}}
        </div>
      </div>
      <div class="field has-text-centered">
        <p class="is-size-4 label has-text-white">{{weatherDescription}}</p>
        <p class="has-text-white-bis is-size-4">Wind Direction: {{windCompassDirection}}</p>
        <i class="is-size-1 fa-gradient wind-arrow fas fa-long-arrow-alt-up" style="transform: rotate({{windDirection}}deg);"></i>
      </div>
      {{else}}
      <p class="has-text-centered has-text-white">No Data</p>
      {{/if}}
    </div>
  </div>
  <div class="column is-6-tablet is-2-desktop">
    <div class="weather-box">
      <div class="field has-text-centered">
        <h3 class="title is-3 has-text-white">Temperature</h3>
      </div>
      <div class="field has-text-centered">
        {{#if lastReading}}
        <div class="weather-icon">
          {{temperatureRangeAndIcon lastReading.temperature}}
        </div>
        <p class="has-text-white-bis is-size-4">{{lastReading.temperature}}°C</p>
        <p class="has-text-white-bis is-size-4">{{temperatureFahrenheit}}°F</p>
        <p class="has-text-white-bis is-size-4">Max: {{maxTemperature}}</p>
        <p class="has-text-white-bis is-size-4">Min: {{minTemperature}}</p>
        <div class="temperature-range">
          <label>{{trendIcon temperatureTrend}}</label>
          <p class="has-text-white-bis is-size-4">{{temperatureTrend}}</p>
        </div>
        {{else}}
        <p class="has-text-white-bis">No Data</p>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="column is-6-tablet is-3-desktop">
    <div class="weather-box">
      <div class="field has-text-centered">
        <h3 class="title is-3 has-text-white">Wind Speed</h3>
      </div>
      <div class="field has-text-centered">
        {{#if lastReading}}
        <div class="weather-icon">
          <label>{{beaufortIcon beaufortDescription}}</label>
        </div>
        <p class="has-text-white-bis is-size-4">{{beaufortLevel}} Bft</p>
        <p class="has-text-white-bis is-size-4">Feels Like: {{beaufortDescription}}</p>
        <p class="has-text-white-bis is-size-4">{{windChill}}</p>
        <p class="has-text-white-bis is-size-4">Max: {{maxWindSpeed}}</p>
        <p class="has-text-white-bis is-size-4">Min: {{minWindSpeed}}</p>
        <div class="temperature-range">
          <label>{{trendIcon windSpeedTrend}}</label>
          <p class="has-text-white-bis is-size-4">{{windSpeedTrend}}</p>
        </div>
        {{else}}
        <p class="has-text-white-bis">No Data</p>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="column is-2 is-6-tablet is-2-desktop">
    <div class="weather-box">
      <div class="field has-text-centered">
        <h3 class="title is-3 has-text-white">Pressure</h3>
      </div>
      <div class="field has-text-centered">
        {{#if lastReading}}
        <div class="weather-icon">
          <i class="fa-size fas fa-tachometer-alt"></i>
        </div>
        <p class="has-text-white-bis is-size-4">{{lastReading.pressure}} hPa</p>
        <p class="has-text-white-bis is-size-4">Max: {{maxPressure}}</p>
        <p class="has-text-white-bis is-size-4">Min: {{minPressure}} </p>
        <div class="temperature-range">
          {{trendIcon pressureTrend}}
          <p class="has-text-white-bis is-size-4">{{pressureTrend}}</p>
        </div>
        {{else}}
        <p class="has-text-white-bis">No Data</p>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
</div>