<section class="section login-signup-page">
<form action="/station/updateStationDetails/{{station.id}}" method="POST" class="box green-box">

    <h1 class="title">Edit Station</h1>
    <div class="field">
      <label class="label has-text-white">Station Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Station Name" name="name" value="{{station.name}}" required>
      </div>
    </div>
    <div class="field">
      <label class="label has-text-white">Latitude</label>
      <div class="control">
        <input class="input" type="number" placeholder="Latitude" name="latitude" value="{{station.latitude}}" required>
      </div>
    </div>
    <div class="field">
      <label class="label has-text-white">Longitude</label>
      <div class="control">
        <input class="input" type="number" placeholder="Longitude" name="longitude" value="{{station.longitude}}"
          required>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary">Update Station</button>
      </div>
      <div class="control">
        <a href="/dashboard" class="button is-danger">Cancel</a>
      </div>
    </div>
    {{#if errorMessage}}
    <div id="warning-sign" class="notification is-danger">
      {{errorMessage}}
    </div>
    {{/if}}
</form>
</section>