<section class="section page-gradient">
  <form action="/station/updateStationDetails/{{station.id}}" method="POST" class="box green-box">

    <h1 class="title">Edit Station</h1>
    <div class="field">
      <label class="label has-text-white">Station Name</label>
      <div class="control">
        <input class="input" type="text" placeholder="Station Name" name="name" value="{{station.name}}" required>
      </div>
    </div>
    <div class="field">
      <label class="label has-text-white">Latitude</label>
      <div class="control">
        <input class="input" type="number" placeholder="Latitude" name="latitude" step="0.000001" value="{{station.latitude}}" required>
      </div>
    </div>
    <div class="field">
      <label class="label has-text-white">Longitude</label>
      <div class="control">
        <input class="input" type="number" placeholder="Longitude" name="longitude" step="0.000001" value="{{station.longitude}}"
          required>
      </div>
    </div>

    <div class="control">
      <button class="button is-primary is-fullwidth mb-2">Update Station</button>
    </div>
    <div class="control">
      <a href="/dashboard" class="button is-danger is-fullwidth mb-2">Cancel</a>
    </div>

    {{#if errorMessage}}
    <div id="warning-sign" class="notification is-danger">
      {{errorMessage}}
    </div>
    {{/if}}
  </form>
</section>